body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 300;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 1vh 1.7vw;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  background: url("../public/images/DSC0709.webp") center center no-repeat;
  color: #ffffff;
  height: 600px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  margin:auto;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
  color: rgb(0, 0, 0);
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: rgb(0, 0, 0);
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.support {
  margin: 5% 0 4%;
}

.supporttext {
  margin: 12% 0 12%;
}

.supporttext h1 {
  font-weight: 500;
  margin: 5% 0 5%;
}

.text-center h3 {
  font-weight: 540;
  font-size: 40px;
}

.text-center h4 {
  margin: 2% 0 1%;
}

.text-center p {
  margin: 0 13% 10%;
}

.text-center.download {
  margin: 0 13% 200px;
}

.text-center img {
  max-width: 28%;
  height: auto;
}

#insta {
  width: 32px;
  height: 32px;
}

#location {
  font-size: 25px;
}

/* #name {
  font-weight: 700;
  font-size: 25px;
} */

.btn.btn-primary {
  border-radius: 2px;
  width: calc(10% + 10vw);
  color: #000000;
  text-shadow: none;
  background-color: transparent;
  border: 2px solid #000000;
  text-align: center;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #00000065;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

.text-responsive {
  font-size: calc(60% + .5vw);
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

figure figcaption {
  text-align: center;
}

figure figcaption h3 {
  margin-bottom: 12%;
}

#about {
  margin-bottom: 2%;
}

#contact {
  margin-bottom: 2%;
}

#mission {
  margin-top: 5%;
  margin-bottom: 2%;
}

#video {
  margin-top: 5%;
}

#download {
  margin-top: 11%;
}

#instadown {
  margin-top: 11%;
  width: 32px;
  height: 32px;
}

#faqtitle {
  margin-bottom: 2%;
}

#afterDownload {
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 11%;
}

#name {
  font-size: 16px;
  margin-bottom: 6%;
}

#email {
  font-size: 16px;
  margin-bottom: 6%;
}

#message {
  font-size: 16px;
  margin-bottom: 6%;
}

#contact_form {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 11%;
}